.about {

	// .about__container

	&__container {
	}

	// .about__content

	&__content {
	}

	// .about__title

	&__title {
		text-align: center;
		font-size: 34px;
	}

	// .about__text

	&__text {
		text-align: center;
	}
}

