.nav {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 100%;
	top: -100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--background-color);
	transition: top 0.9s, bottom 0.9s;
	width: 100%;
	padding: 65px 25px;



	&_active {
		top: 0;
		bottom: 0;

	}




	@media(min-width:576px) {
		display: block;
		padding: 15px 0;
		position: static;
		background-color: transparent;
		border-bottom: 1px solid var(--light-color);

	}
}

.nav__list {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin: 0;
	padding: 0;
	list-style: none;
	flex-direction: column;


	@media(min-width:576px) {
		padding: 0;
		flex-direction: row;
		background-color: transparent;
		align-items: center;

	}

}

.nav__language {
	margin-left: auto;
	margin-top: auto;
	font-size: 34px;
	transform: rotate(0deg) !important;



	@media(min-width:576px) {
		display: none;
	}
}

.language__button {
	font-size: 34px;
}

.nav__item {}

.nav__link {
	color: var(--light-color);
	transition: color 0.3s;

	&:hover {
		color: var(--main-color);
	}

	@media(min-width:576px) {
		font-size: 18px;
	}
}