.skills {

	// .skills__container

	&__container {}

	// .skills__title

	&__title {
		text-align: center;
		font-size: 34px;
	}

	// .skills__text

	&__text {
		text-align: center;
		margin-bottom: 60px;
	}

	// .skills__list

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
		justify-content: center;
		gap: 30px;

	}

	// .skills__item

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .skills__item-img

	&__item-img {
		display: flex;
		max-width: 90px;
		height: 80px;

	}

	// .skills__item-title

	&__item-title {
		margin-top: auto;
	}
}

.container {}

.title {}

.list-reset {}